.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-self: center;
  gap: 2rem;
}

.users-container {
  min-width: 100%;
}

.card-details-cotainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    justify-self: auto;
    margin: 1rem;
  }
}
