<div class="container">
  <div class="users-container">
    @for (user of users(); track user.id) {
    <app-user-button
      [user]="user"
      (userSelected)="onUserSelected($event)"
      [isActive]="isUserActive(user.id)"
    ></app-user-button>
    } @empty {
    <p>No users found</p>
    }
  </div>

  <div class="card-details-cotainer">
    @if (selectedUser()) {
    <app-user-details-card [user]="selectedUser()!"></app-user-details-card>
    } @else {
    <p>No user selected</p>
    }
  </div>
</div>

<router-outlet></router-outlet>
